<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- http://msdn.microsoft.com/en-us/library/ms733025(v=vs.110).aspx -->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\Traces.svclog"/>
    </sharedListeners>
  </system.diagnostics>
  
  <connectionStrings>
    <clear/>
    <add name="SyncObjX" connectionString="Data Source=[Computer_Name];Initial Catalog=SyncObjX;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="SyncEngineServiceBehavior" name="SyncObjX.Service.ConfigurationService">
        <endpoint address="" binding="basicHttpBinding" contract="SyncObjX.Configuration.ISyncEngineConfigurator"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://[COMPUTER_NAME]:8000/SyncEngineService/Configuration" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SyncEngineServiceBehavior" name="SyncObjX.Service.QueueManagementService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SyncEngineService_BasicHttpBinding" contract="SyncObjX.Management.IJobQueueManagement"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://[COMPUTER_NAME]:8000/SyncEngineService/QueueManagement" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SyncEngineServiceBehavior" name="SyncObjX.Service.LogManagementService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SyncEngineService_BasicHttpBinding" contract="SyncObjX.Logging.ISyncEngineLogManagement"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://[COMPUTER_NAME]:8000/SyncEngineService/LogManagement" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="SyncEngineServiceBehavior" name="SyncObjX.Service.DataService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SyncEngineService_BasicHttpBinding" contract="SyncObjX.Adapters.IAdapterDataService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://[COMPUTER_NAME]:8000/SyncEngineService/Data" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="SyncEngineService_BasicHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00">
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SyncEngineServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
